let mapleader = "\<Space>"

" Ctrl+j as Esc
" Ctrl-j is a little awkward unfortunately:
" https://github.com/neovim/neovim/issues/5916
nnoremap <C-j> <Esc>
inoremap <C-j> <Esc>
vnoremap <C-j> <Esc>
snoremap <C-j> <Esc>
xnoremap <C-j> <Esc>
cnoremap <C-j> <C-c>
onoremap <C-j> <Esc>
lnoremap <C-j> <Esc>
tnoremap <C-j> <Esc>

" Jump to start and end of line using the home row keys
map H ^
map L $

" Quick-save
nmap <leader>w :w<CR>

set relativenumber " Relative line numbers
set number " Also show current absolute line

set clipboard+=unnamed

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

map <leader>d <Action>(Debug)
map <leader>rn <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>t <Action>(ActivateProjectToolWindow)
map <leader>f <Action>(FindInPath)
map <g>r <Action>(FindUsages)

map <leader>b <Action>(ToggleLineBreakpoint)
